---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀  **Payten Johnson** | Personal Knowledge Base | </h1>
			<p>
				Welcome to my career knowledge base, where I share my experience and expertise in Fortinet and related technologies.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
		  	<section id="experience">
			      <h2>**Experience**</h2>
			      <ul>
			        <li>
			          <strong>Job Title</strong>
			          <p>Company Name, Dates of Employment</p>
			          <p>Summary of job responsibilities and achievements.</p>
			        </li>
			        <!-- Add more experience sections as needed -->
			      </ul>

				<!-- <li> Edit this page in <code>src/pages/index.astro</code></li> -->
				<!-- <li> Edit the site header items in <code>src/components/Header.astro</code></li> -->
				<!-- <li> Add your name to the footer in <code>src/components/Footer.astro</code></li> -->
				<!-- <li> Check out the included blog posts in <code>src/content/blog/</code></li> -->
				<!-- <li> Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li> -->
			
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
